#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#nav_logo {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
}

.nav_btn {
  margin-left: 1rem;
  background-color:rebeccapurple;
  color:white;
  skew
}

