
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <section id="nav">
        <h3 id="nav_logo">InI development.</h3>
        <nav>
            <div class="hamburger" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="nav_links">
                <a><button class="nav_btn"><span>Home</span></button></a>
                <a><button class="nav_btn"><span>About</span></button></a>
                <a><button class="nav_btn"><span>Contact</span></button></a>
            </div>
        </nav>
    </section>
    <script>
        function toggleMenu() {
            document.querySelector('.hamburger').classList.toggle('active');
            document.querySelector('.nav_links').classList.toggle('active');
        }
    </script>
</body>
</html>
